#root {
  margin: 0 auto;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 1.2rem;
  }
}

.dashboard-wrapper {
  display: grid;
  grid-template-columns: 6rem auto;
}

.left-sidebar-wrapper {
  min-height: 100vh;
}

.home-wrapper {
  color: inherit;
}

.dashboard-content-wrapper {
  min-height: 100vh;
}
