.patients-container {
  padding: 1rem;
  padding-right: 0;
  display: grid;
  grid-template-columns: 18rem auto;
}

.patients-list {
  height: calc(100vh - 2rem);
  background-color: $white;
  border-radius: 6px;
  position: sticky;
  top: 1rem;

  .patient-list-content {
    position: sticky;
    top: 1rem;
    height: calc(100% - 7.2rem);
    overflow-y: scroll;
  }

  .header,
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    padding: 1rem;
  }

  .search-filter {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    box-shadow: 0 0.5rem 0.5rem rgba($gray, 0.0125);

    .search {
      display: flex;
      border: 1px solid rgba($gray, 0.2);
      border-radius: 4rem;
      padding: 0 0.5rem;
      input {
        color: $primary-color;
        height: 2rem;
        border: none;
        outline: none;
        background-color: transparent;
      }
      svg,
      input::placeholder {
        color: rgba($primary-color, 0.5);
      }
    }
  }

  button {
    padding: 0;
    color: $white;
    display: flex;
    outline: none;
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: $secondary-color;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: $secondary-color 0 4px 15px;
    }
  }

  .patient-item {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    transition: all 0.3s ease-in-out;

    svg {
      color: rgb($gray, 0.4);
    }

    &:hover,
    &.active {
      color: $primary-color;
      border-color: rgb($primary-color, 0.3);
      background-color: rgb($primary-color, 0.1);

      svg {
        color: rgb($white, 0.7);
      }

      .meta-data,
      .name {
        color: $primary-color;
      }
      .avatar {
        background-color: rgb($primary-color, 0.7);
      }
    }

    .avatar {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      background: rgb($gray, 0.2);
    }

    .name {
      font-size: 1rem;
      color: $text-color;
    }
  }
}

.patient-details {
  padding: 0 1rem 1rem 2rem;

  .patient-identity {
    display: flex;
    gap: 1rem;
    padding: 2rem;

    .name {
      margin-top: 0;
    }

    .data-plus {
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr auto;
    }

    .avatar {
      height: 4rem;
      min-width: 4rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      background-color: rgb($primary-color, 0.7);

      svg {
        width: 50%;
        color: $white-dark;
      }
    }
  }

  .section-title {
    padding-bottom: 1rem;
  }

  .analysis-reports {
    margin-bottom: 1rem;
  }
}
