.sidebar {
  position: sticky;
  top:0;
  left: 0;
  height: 100vh;
  background-color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-menu-item {
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid rgba($color: $gray, $alpha: 0.02);

  .content {
    display: flex;
    gap: .5rem;
    flex-direction: column;
  }

  &:hover,
  &.active {
    color: $primary-color;
    background-color: #3bbf8f1a;
    border-right: $primary-color solid 4px;
    border-bottom: 1px solid rgba($color: #3bbf8f1a, $alpha: 0.02);
  }
}

.quit-btn {
  display: flex;
  align-items: center;
}
