.sidebar {
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-menu-item{
  width: 6rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  
  &:hover,
  &.active {
    color: #3ABE8E;
    background-color: #3bbf8f1a;
    border-right: #3ABE8E solid 4px;
  }
}
