#root {
  margin: 0 auto;
}

.dashboard-wrapper {
  display: grid;
  grid-template-columns: 6rem auto;
}

.left-sidebar-wrapper {
  min-height: 100vh;
}

.home-wrapper {
  color: inherit;
}

.dashboard-content-wrapper {
  min-height: 100vh;
}
